* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f0efef;
}

::-webkit-scrollbar {
    width: 25px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgba(5, 5, 113, 0.792), rgba(5, 5, 113, 0.392));
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(rgba(5, 5, 113, 1), rgba(5, 5, 113, 0.592));
}

::-webkit-scrollbar-track {
    border-radius: 50px;
    box-shadow: inset 0 0 5px grey;
    background-color: rgba(255, 166, 0, 0.805);
}

header>nav {
    width: 100%;
    height: 10vh;
    background-color: rgba(255, 166, 0, 0.805);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 10px;
    z-index: 2;
    position: fixed;
    top: 0px;
}

header>nav>.logo {
    width: 8vh;
    height: 8vh;
    overflow: hidden;
    border-radius: 20px;
    /* margin-left: 100px; */
    /* border: 5px solid purple; */
}

header>nav>.logo>a>img {
    width: 100%;
    height: 100%;
}


header>nav>section{
    /* border: 4px solid red; */
    width: 30vw;
    /* display: flex;
    justify-content: space-evenly; */
}

header>nav>section>.navtags{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
header>nav>section>.navtags>a {
    text-decoration: none;
    color: rgba(5, 5, 113, 0.792);
    font-size: 20px;
    /* padding-left: 40px; */
    font-weight: bolder;
    
}
header>nav>section>.navtags>a:hover{
    border-bottom: 1px solid rgba(5, 5, 113, 0.792);
}






main {
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 15px;
    /* border: 2px solid red; */
}

main>.section1 {
    width: 100%;
    height: 40vh;
    /* border: 3px solid green; */
    display: flex;
    margin-bottom: 15px;
    margin-top: 11vh;
}

main>.section1>.heading {
    width: 100%;
    /* border: 1px solid red; */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 200px;
    /* margin-left: 20%; */
}

main>.section1>.heading>h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(255, 166, 0, 0.805);
    font-size: 8vh;
    padding-bottom: 1px;
}

main>.section1>.heading>h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(5, 5, 113, 0.792);
    font-size: 4vh;
    margin-top: 10px;
}
main>.section1>.heading>a {
    /* margin-left: 110px; */
    width: auto;
    height: auto;
    margin-top: 20px;
    /* border: 1px solid red;  */
}

main>.section1>.heading>a>button {
    padding: 15px 40px;
    border-radius: 50px;
    border: none;
    /* background-color: #D56F00; */
    /* background-color: rgba(5, 5, 113, 0.792); */
    background: rgb(121,61,9);
    background: linear-gradient(245deg, rgba(121,61,9,0.8604691876750701) 44%, rgba(255,55,0,0.6755952380952381) 95%);
    font-size: 25px;
    cursor: pointer;
    color: white;
}
main>.section1>.heading>a>button:hover{
    background: rgb(121,61,9);
    background: linear-gradient(70deg, rgba(121,61,9,0.8604691876750701) 44%, rgba(255, 55, 0, 0.762) 95%);
    opacity: 0.8;
}




main>.section1>.advertisementimg {
    margin-right: 20%;
    margin-left: 10%;
    width: 100vh;
    height: 40vh;
    /* border: 2px solid green; */
}

main>.section1>.advertisementimg>img {
    width: 100%;
    height: 100%;
}


.borderdiv {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.borderdiv>div {
    width: 30%;
    margin: 15px 0;
    border: 2px solid orange;
}




main>.section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 2px solid red; */
}

main>.section2>figure {
    width: 26%;
    height: 16%;
    margin-top: 15px;
    cursor: pointer;
    background-color: rgba(255, 166, 0, 0.805);
    border-radius: 50px;
    filter: contrast(0.95);
    /* border: 1px solid green; */
}






main>.section2>figure:hover{
    width: 27%;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.316);
    filter: contrast(1.2);
}




main>.section2>figure>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    /* cursor: pointer; */
}

main>.section2>figure>figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* cursor: pointer; */
    /* background-color: orange; */
}

main>.section2>figure>figcaption>p {
    font-size: 25px;
    color: rgba(5, 5, 113, 0.792);
    /* cursor: pointer; */
}



footer{
    /* border: 2px solid red; */
    margin-top: 15px;
    margin-bottom: 50px;
}
footer > .sectiona{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 20px;
}
footer > .sectiona > div{
    /* border: 2px solid green; */
}
footer > .sectiona > div > h3{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 15px;
}
footer > .sectiona > div > div{
    display: flex;
    flex-direction: column;
}
footer > .sectiona > div > div > a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
}
footer > .sectiona > div > div > a:hover{
    text-decoration: underline;
}

footer > .sectionb{
    height: 50px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
}
footer > .sectionb > .diva{
    display: flex;
    /* border: 2px solid red; */
}
footer > .sectionb > .diva > .icondiv{
    margin-right: 25px;
}
footer > .sectionb > .diva >  .icondiv > .iconimgdiv{
    width: 40px;
    height: 40px;
}
footer > .sectionb > .diva >  .icondiv > .iconimgdiv > img{
    width: 100%;
    height: 100%;
}
footer > .sectionb > .divb{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
footer > .sectionb > .divb > .logos{
    width: 6vh;
    height: 6vh;
    overflow: hidden;
    border-radius: 20px;
    margin-right: 25px;
}

footer > .sectionb > .divb > .logos > img{
    width: 100%;
    height: 100%;
}

footer > .sectionb > .divb > a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}







.body{
    background-image: linear-gradient(280deg, rgba(121, 61, 9, 0.599) 50%, rgba(255, 55, 0, 0.505) 95%);
}
.signin{
    /* border: 3px solid red; */
    margin-top: 10vh;
    /* background-image: linear-gradient(280deg, rgba(121, 61, 9, 0.599) 50%, rgba(255, 55, 0, 0.505) 95%); */
}
.signin > .loginform{
    /* border: 2px solid green; */
    width: 25%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 166, 0, 0.805);
    color: rgba(5, 5, 113, 0.792);
    font-size: larger;
    /* box-shadow: 0px 15px 500px red,
    0px 15px 500px red;
    border-radius: 40px; */

}
.signin > .loginform > h3{
    margin: 10px 0 20px 0;
}
.signin > .loginform > form {
    /* margin: 0 auto; */
    /* cursor: pointer; */
    display: flex;
    flex-direction: column;
}

.signin > .loginform > form > label {
    display: block;
    margin-bottom: 8px;
    /* border-block: 1px solid; */
    cursor: pointer;
}

.signin > .loginform > form > input[type="text"],
.signin > .loginform > form > input[type="email"],
.signin > .loginform > form > input[type="password"],
.signin > .loginform > form > input[type="number"],
textarea {
    width: 100%;
    padding: 8px 8px 8px 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* background-color: red; */
    font-size: 15px;
}
.signin > .loginform > form > button{
    padding: 10px 25px;
    border-radius: 50px;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid grey;
    
}
.signin > .loginform > form > input[type="number"]:focus{
    outline: 1px solid red;
    box-shadow: 1px 1px 10px red,
    1px 1px 10px red inset; 
  }
.signin > .loginform > form > input[type="text"]:focus{
    outline: 1px solid red;
    box-shadow: 1px 1px 10px red,
    1px 1px 10px red inset; 
  }
.signin > .loginform > form > input[type="email"]:focus{
    outline: 1px solid red;
    box-shadow: 1px 1px 10px red,
    1px 1px 10px red inset; 
  }
.signin > .loginform > form > input[type="password"]:focus{
    outline: 1px solid red;
    box-shadow: 1px 1px 10px red,
    1px 1px 10px red inset; 
  }






.order1{
    /* border: 2px solid purple; */
    /* background-image: linear-gradient(280deg, rgba(121, 61, 9, 0.599) 50%, rgba(255, 55, 0, 0.505) 95%); */

    
}
.order1 > .orderform{
    margin: 0 auto;
    border: 1px solid green;
    width: 30%;
    padding: 20px;
    background-color: rgba(255, 166, 0, 0.805);

}
.order1 > .orderform > h3{
    margin: 10px 0 20px 0;
    color: rgba(5, 5, 113, 0.792);
}
/* .order1 > .orderform > form{
    display: flex;
    flex-direction: column;
} */
.order1 > .orderform > form > h3{
    margin-bottom: 8px;
    margin-top: 10px;
    color: rgba(5, 5, 113, 0.792);

}
.order1 > .orderform > form > label{
    display: inline;
    cursor: pointer;
    color: rgba(5, 5, 113, 0.792);

   
}
.order1 > .orderform > form > input[type="radio"],
.order1 > .orderform > form > input[type="checkbox"],
.order1 > .orderform > form > select
{
    cursor: pointer;
}

.order1 > .orderform > form > .formbuttondiv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    /* border: 1px solid red; */
}
.order1 > .orderform > form > .formbuttondiv > button{
    padding: 10px 25px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid grey;
}









@media only screen and (max-width: 480px) {
    header>nav {
        width: 100%;
        height: 8vh;
        padding: 0 0 0 10px;
    }
    
    header>nav>.logo {
        width: 5vh;
        height: 5vh;
        border-radius: 5px;
        /* margin-left: 100px; */
        /* border: 5px solid purple; */
    }
    
    header>nav>section{
        /* border: 4px solid red; */
        width: 45vw;
        /* display: flex;
        justify-content: space-evenly; */
    }
    header>nav>section>.navtags>a {
        font-size: 10px;
    }
    
    
    main>.section1 {
        height: 10vh;
        margin-bottom: 1px;
        /* border: 1px solid red; */
    }
    
    main>.section1>.heading {
        /* border: 1px solid red; */
        padding-left: 40px;
        width: 225%;
        /* margin-left: 20%; */
    }
    
    main>.section1>.heading>h1 {
        font-size: 2vh;
        padding-bottom: 0px;
        letter-spacing: 1.5px;
    }
    
    main>.section1>.heading>h2 {
        font-size: 1vh;
        margin-top: 5px;
        letter-spacing: 0.6px;
    }
    main>.section1>.heading>a {
        /* margin-left: 110px; */
        width: auto;
        height: auto;
        margin-top: 5px;
        /* border: 1px solid red;  */
    }
    
    main>.section1>.heading>a>button {
        padding: 5px 12px;
        border-radius: 50px;
        font-size: 5px;
    }
    
    main>.section1>.advertisementimg {
        width: 40vh;
        height: 10vh;
        /* border: 2px solid green; */
    }
    
    .borderdiv {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .borderdiv>div {
        width: 30%;
        margin: 12px 0;
        border: 1px solid orange;
    }
    
    main>.section2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* border: 2px solid red; */
    }
    
    main>.section2>figure {
        width: 40%;
        height: 1%;
        margin-top: 5px;
        cursor: pointer;
        background-color: rgba(255, 166, 0, 0.805);
        border-radius: 50px;
        filter: contrast(0.95);
        /* border: 1px solid green; */
    }
    
    main>.section2>figure:hover{
        width: 43%;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.316);
        filter: contrast(1.2);
    }
    
    main>.section2>figure>img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        /* cursor: pointer; */
    }
    
    main>.section2>figure>figcaption {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* cursor: pointer; */
        /* background-color: orange; */
    }
    
    main>.section2>figure>figcaption>p {
        font-size: 10px;
        color: rgba(5, 5, 113, 0.792);
        /* cursor: pointer; */
    }



    footer{
        /* border: 2px solid red; */
        margin-top: 5px;
        margin-bottom: 30px;
    }
    footer > .sectiona{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    footer > .sectiona > div > h3{
        font-size: 12px;
        margin-bottom: 5px;
    }
    footer > .sectiona > div > div > a{
        font-size: 9px;
        margin-top: 5px;
    }
    


    footer > .sectionb{
        height: 20px;
    }
    footer > .sectionb > .diva > .icondiv{
        margin-right: 5px;
    }
    footer > .sectionb > .diva >  .icondiv > .iconimgdiv{
        width: 15px;
        height: 15px;
    }
    footer > .sectionb > .divb > .logos{
        width: 3vh;
        height: 3vh;
        border-radius: 10px;
        margin-right: 5px;
    }
    footer > .sectionb > .divb > a{
        text-decoration: none;
        color: black;
        font-size: 10px;
    }







    .signin{
        margin-top: 8vh;
    }
    .signin > .loginform{
        width: 80%;
    }
    
    .order1 > .orderform{
        width: 90%;
    }
}